@import patterns.creationalpatterns.builder._
@import components.explanation.html.ExplanationHtml
@import components.explanation.Explanation
@import components.examplecode.html.ExampleCodeHtml
@import components.examplecode.ExampleCode
@import components.workingexample.html.WorkingExampleHtml
@import components.workingexample.WorkingExample

@()

@main("Builder | Creational Patterns") {   
    <h3>Builder</h3>

    @ExplanationHtml(Explanation(
        None,
        """
        <p>
            The builder pattern is useful when you need to construct complicated objects with many parameters. <br>
            In these examples, we're going to take the concept of RPG enemies and how we can build them up using the Builder pattern.
        </p>
        """
    ))
    @ExampleCodeHtml(ExampleCode(
        None,
        """EnemyBuilder()<br>
        .withName("Fred")<br>
        .withHealth(100.0)<br>
        .withAttack(5)<br>
        .build()"""
    ))
    <!-- @@WorkingExampleHtml(WorkingExample(
        None,
        """ -->
        <div class="enemy">
            @defining(
                EnemyBuilder()
                    .withName("Fred")
                    .withHealth(100.0)
                    .withAttack(5)
                    .build()
                ){ fred => 
                    <div class="enemy-icon">
                        @defining(fred.enemyIsType.icon) { icon => 
                            <img src=@routes.Assets.versioned("images/builder/" + icon) height="32px" width="32px">
                        }
                    </div>
                    Name: @fred.enemyName<br>
                    HP: @fred.enemyHealth<br>
                    Atk: @fred.enemyAttack
                    Def: @fred.enemyDefence
                    Mag: @fred.enemyMagicAttack
                    Dex: @fred.enemyRangedAttack<br>
                    Spec: @fred.enemyHasSpecialAttack<br>
                    Type: @fred.enemyIsType<br>
                    Drops: @fred.enemyDrops<br>
                }
        </div>
        <div class="enemy">
            @defining(
                EnemyBuilder()
                    .withName("Gobbo")
                    .withHealth(150.0)
                    .withAttack(6)
                    .withDefence(5)
                    .withMagicAttack(5)
                    .withRangedAttack(1)
                    .withSpecialAttack(true)
                    .withEnemyType(EnemyType.Goblin)
                    .withDrops(Seq(
                        EnemyDrop(dropName = "Potion of Potioning", dropQuantity = 5)
                    ))
                    .build()
                ){ fred => 
                    <div class="enemy-icon">
                        @defining(fred.enemyIsType.icon) { icon => 
                            <img src=@routes.Assets.versioned("images/builder/" + icon) height="32px" width="32px">
                        }
                    </div>
                    Name: @fred.enemyName<br>
                    HP: @fred.enemyHealth<br>
                    Atk: @fred.enemyAttack
                    Def: @fred.enemyDefence
                    Mag: @fred.enemyMagicAttack
                    Dex: @fred.enemyRangedAttack<br>
                    Spec: @fred.enemyHasSpecialAttack<br>
                    Type: @fred.enemyIsType<br>
                    Drops: @fred.enemyDrops<br>
                }
        </div>
        <!-- """ -->
    <!-- )) -->

<p>Enemy icons by <a href="https://game-icons.net/1x1/delapouite/goblin-head.html">game-icons.net</a>, under <a href="https://creativecommons.org/licenses/by/3.0/">CC by 3.0</a>. No additional changes were made to the icons.</p>
}