@()

@main("Timlah's design patterns in Scala") {
  <h1>Timlah's design patterns in Scala!</h1>

  <h3>Creational Patterns</h3>
  <ul title="Creational Patterns">
    <li><a href="@controllers.routes.HomeController.factory()">Factory Method</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Abstract Factory</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Builder</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Prototype</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Singleton</a></li>
  </ul>

  <h3>Structural Patterns</h3>
  <ul title="Structural Patterns">
    <li><a href="@controllers.routes.HomeController.factory()">Adapter</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Bridge</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Composite</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Decorator</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Facade</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Flyweight</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Proxy</a></li>
  </ul>

  <h3>Behavioral Patterns</h3>
  <ul title="Behavioral Patterns">
    <li><a href="@controllers.routes.HomeController.factory()">Chain of Responsibility</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Command</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Iterator</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Mediator</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Memento</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Observer</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">State</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Strategy</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Template Method</a></li>
    <li><a href="@controllers.routes.HomeController.factory()">Visitor</a></li>
  </ul>

  <h3>Further learning</h3>
  <p>Design Pattern learning from 
    <a href="https://refactoring.guru/">Refactoring Guru</a>
  </p>
}
