@()

@main("Timlah's design patterns in Scala") {
  <h1>Timlah's design patterns in Scala!</h1>

  <h3>Creational Patterns</h3>
  <ul title="Creational Patterns">
    <li><a href="@controllers.routes.HomeController.factoryMethod()">Factory Method</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Abstract Factory</a></li>
    <li><a href="@controllers.routes.HomeController.builder()">Builder</a></li>
    <li><a href="@controllers.routes.HomeController.prototype()">Prototype</a></li>
    <li><a href="@controllers.routes.HomeController.singleton()">Singleton</a></li>
  </ul>

  <h3>Structural Patterns</h3>
  <ul title="Structural Patterns">
    <li><a href="@controllers.routes.HomeController.adapter()">Adapter</a></li>
    <li><a href="@controllers.routes.HomeController.bridge()">Bridge</a></li>
    <li><a href="@controllers.routes.HomeController.composite()">Composite</a></li>
    <li><a href="@controllers.routes.HomeController.decorator()">Decorator</a></li>
    <li><a href="@controllers.routes.HomeController.facade()">Facade</a></li>
    <li><a href="@controllers.routes.HomeController.flyweight()">Flyweight</a></li>
    <li><a href="@controllers.routes.HomeController.proxy()">Proxy</a></li>
  </ul>

  <h3>Behavioral Patterns</h3>
  <ul title="Behavioral Patterns">
    <li><a href="@controllers.routes.HomeController.chainOfResponsibility()">Chain of Responsibility</a></li>
    <li><a href="@controllers.routes.HomeController.command()">Command</a></li>
    <li><a href="@controllers.routes.HomeController.iterator()">Iterator</a></li>
    <li><a href="@controllers.routes.HomeController.mediator()">Mediator</a></li>
    <li><a href="@controllers.routes.HomeController.memento()">Memento</a></li>
    <li><a href="@controllers.routes.HomeController.observer()">Observer</a></li>
    <li><a href="@controllers.routes.HomeController.state()">State</a></li>
    <li><a href="@controllers.routes.HomeController.strategy()">Strategy</a></li>
    <li><a href="@controllers.routes.HomeController.templateMethod()">Template Method</a></li>
    <li><a href="@controllers.routes.HomeController.visitor()">Visitor</a></li>
  </ul>

  <h3>Further learning</h3>
  <p>Design Pattern learning from 
    <a href="https://refactoring.guru/">Refactoring Guru</a>
  </p>
}
