@()

@main("Timlah's design patterns in Scala") {
  <h1>Timlah's design patterns in Scala!</h1>

  <h3>Creational Patterns</h3>
  <ul title="Creational Patterns">
    <li><a href="@controllers.routes.HomeController.factoryMethod()">Factory Method</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Abstract Factory</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Builder</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Prototype</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Singleton</a></li>
  </ul>

  <h3>Structural Patterns</h3>
  <ul title="Structural Patterns">
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Adapter</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Bridge</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Composite</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Decorator</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Facade</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Flyweight</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Proxy</a></li>
  </ul>

  <h3>Behavioral Patterns</h3>
  <ul title="Behavioral Patterns">
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Chain of Responsibility</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Command</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Iterator</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Mediator</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Memento</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Observer</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">State</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Strategy</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Template Method</a></li>
    <li><a href="@controllers.routes.HomeController.abstractFactory()">Visitor</a></li>
  </ul>

  <h3>Further learning</h3>
  <p>Design Pattern learning from 
    <a href="https://refactoring.guru/">Refactoring Guru</a>
  </p>
}
